body {
    margin: 0;
	padding: 0;
	border: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#control-general{
    position: absolute;
    padding: 2.5px;
    right: 0;
}

#gear,
#export {
    cursor: pointer;
}

#gear {
    --color-lightUp: #1c1c1f;
}

#export {
    --color-lightUp: #6eda2c;
}

#gear:hover,
#export:hover {
    animation-name: lightUpIcon;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0;
}

@keyframes lightUpIcon {
    /* from {
        color: black;
        filter: drop-shadow(0 0 0 black)
    }
    to {
        color: var(--color-lightUp);
        filter: drop-shadow(0 0 30px var(--color-lightUp))
    } */
    0% {
        color: black;
        filter: drop-shadow(0 0 0 black)
    }
    50% {
        color: black;
        filter: drop-shadow(0 0 3px black)
    }
    100% {
        color: var(--color-lightUp);
        filter: drop-shadow(0 0 6px var(--color-lightUp))
    }
}

/* Barra de Controle */

#controle {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Requisitos e Regras */

/* Containers para as boxes */
.requisitos_regras {
    overflow: auto;
}

/* Objeto de BOX as caixas de requisitos e regras */
.requisito_regra {
    border-style: dashed;
    border-width: 2px;
    border-radius: 20px;
    padding: 0px 10px 10px 15px;
    margin-bottom: 10px;
}

.RF{
    border-color: green;
}
.RNF{
    border-color: orangered;
}
.RN{
    border-color: indigo;
}

#divSpanDepenID,
#divSpanConfliID {
    font-size: small;
    border-radius: 10%;
    max-width: fit-content;
    padding: 5px 5px;
    margin: 5px
}
#divSpanDepenID{
    background-color: #6eda2c;
}
#divSpanConfliID{
    background-color: #da0001;
}

#divDepenID,
#divConfliID {
    display: flex;
    flex-wrap: wrap;
}