/* ==> root <== */
body {
    margin: 0;
	padding: 0;
	border: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#control-general{
    position: absolute;
    padding: 2.5px;
    right: 0;
}

#gear,
#export {
    cursor: pointer;
}

#gear {
    --color-lightUp: #1c1c1f;
}

#export {
    --color-lightUp: #6eda2c;
}

#gear:hover,
#export:hover {
    animation-name: lightUpIcon;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0;
}

@keyframes lightUpIcon {
    0% {
        color: black;
        filter: drop-shadow(0 0 0 black)
    }
    50% {
        color: black;
        filter: drop-shadow(0 0 3px black)
    }
    100% {
        color: var(--color-lightUp);
        filter: drop-shadow(0 0 6px var(--color-lightUp))
    }
}

/* => Barra de Controle */
#controle {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Containers para as boxes */
.requisitos_regras {
    overflow: auto;
}

/* START PREVIEW (dependências e conflitos) */
.viewDC {
    --backgroundColor: white;
    --borderColor: black;
    display: none;
    height: auto;
    width: 35vw;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--backgroundColor);
    border-color: var(--borderColor);
    /* opacity: .6; */
    border-style: dashed;
    border-width: .4em;
    border-radius: 20px;
    padding: 0px 10px 10px 15px;
    margin-bottom: 10px;
}
input[id=viewDC]:checked + div.viewDC{
    display: block;
}
input[id=viewDC] {
    display:none;
}
/* END PREVIEW (dependências e conflitos) */


/* START EXPORT (Requisitos) */
.infoExport{
    background: rgb(0, 255, 255, .5);
    /* padding: 2em; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}

.infoExport > pre{
    display: block;
    background-color: #1c1c1f;
    color: white;
    border-color: black;
    border-width: .25em;
    border-style: inset;
    border-radius: .75em;
    max-width: 75vw;
    height: 75vh;
    padding: 1em;
    overflow: auto;
    box-shadow: 4px 6px 11px rgb(0 0 0 / 80%);
}
.infoExport > pre::-webkit-scrollbar{
    border: solid 3px transparent;
}
.infoExport > pre::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
    border-radius: 50px;
    margin-right: 10px;
}
.infoExport > pre::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px gray;
    border: solid 5px transparent;
    border-radius: 50px;
    margin-right: 10px;
}

.infoExport > button[id="copiar"]{
    font-size: .9em;
    display: block;
    width: 15vw;
    border-width: 3px;
    border-color: darkcyan;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 60%);
    border-radius: 5px;
}
.infoExport > button#copiar.clicado{
    background-color: #1c1c1f;
    border-color: black;
    border-width: 3px;
    color: white;
}
.infoExport > button[id="fechar"]{
    position: absolute;
    font-size: 1.6em;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid;
    background-color: rgb(119, 0, 204);
    color: white;
    border-color: rgb(0, 255, 255, 1);
    font-family: monospace;
    cursor: pointer;
    box-shadow: 1px 4px 5px rgb(0 0 0 / 50%);
}

input[id=infoExport]:checked + div.infoExport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[id=infoExport] {
    display:none;
}
/* END EXPORT (Requisitos) */
