body {
    margin: 0;
	padding: 0;
	border: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#control-general{
    position: absolute;
    padding: 2.5px;
    right: 0;
}

#gear,
#export {
    cursor: pointer;
}

#gear {
    --color-lightUp: #1c1c1f;
}

#export {
    --color-lightUp: #6eda2c;
}

#gear:hover,
#export:hover {
    animation-name: lightUpIcon;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0;
}

@keyframes lightUpIcon {
    /* from {
        color: black;
        filter: drop-shadow(0 0 0 black)
    }
    to {
        color: var(--color-lightUp);
        filter: drop-shadow(0 0 30px var(--color-lightUp))
    } */
    0% {
        color: black;
        filter: drop-shadow(0 0 0 black)
    }
    50% {
        color: black;
        filter: drop-shadow(0 0 3px black)
    }
    100% {
        color: var(--color-lightUp);
        filter: drop-shadow(0 0 6px var(--color-lightUp))
    }
}

/* Barra de Controle */

#controle {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Requisitos e Regras */

/* Containers para as boxes */
.requisitos_regras {
    overflow: auto;
}

/* Objeto de BOX as caixas de requisitos e regras */
.requisito_regra {
    border-style: dashed;
    border-width: 2px;
    border-radius: 20px;
    padding: 0px 10px 10px 15px;
    margin-bottom: 10px;
}

/* Bordas pontilhadas */
.RF{
    border-color: green;
}
.RNF{
    border-color: orangered;
}
.RN{
    border-color: indigo;
}

#divDepenID,
#divConfliID {
    display: flex;
    flex-wrap: wrap;
}

/* Preview das dependências e conflitos */
.viewDC {
    --backgroundColor: white;
    --borderColor: black;
    display: none;
    height: auto;
    width: 35vw;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--backgroundColor);
    border-color: var(--borderColor);
    /* opacity: .6; */
    border-style: dashed;
    border-width: .4em;
    border-radius: 20px;
    padding: 0px 10px 10px 15px;
    margin-bottom: 10px;
}
input:checked + div.viewDC{
    display: block;
}
input {
    display: block;
}

.divSpanDepenID,
.divSpanConfliID{
    font-size: small;
    border-radius: 7%;
    max-width: fit-content;
    padding: 7px 14px;
    margin: 5px;
    cursor: default
}
.divSpanDepenID,
.divSpanDepenID > button{
    background-color: #6eda2c;
}
.divSpanConfliID,
.divSpanConfliID > button{
    background-color: #da0001;
}
.divSpanDepenID > button, 
.divSpanConfliID > button{
    /* background-color: transparent; */
    border: none !important;
    cursor: pointer;
    border-radius: 25%;
    margin-left: 5px
}
.divSpanDepenID > button:hover,
.divSpanConfliID > button:hover{
    /* Serve para escurecer cor aplicada */
    filter: brightness(75%);
}
#divDepenID{
    display: flex;
    flex-wrap: wrap;
}

#divConfliID{
    display: flex;
    flex-wrap: wrap;
}